@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

.alert-success {
    position: fixed;
    top: 0;
    width: 100%;
}

.alert-danger {
    position: fixed;
    top: 0;
    width: 100%;
}

.alert-inactive {
    display: none;
}