.team-member {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-member-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.team-member-name {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.team-member-title {
    font-style: italic;
    font-size: 14px;
}

.team-member-role {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(139, 139, 139);
}