<head>
    <link rel="stylesheet" href="/stylesheets/templates/alert.css">
    <script type='module' src='/javascripts/alert.js'></script>
</head>

<body>
    <div class="alert alert-inactive">
        <!-- This will be filled by alert.js -->
    </div>
</body>
