<head>
    <link rel="stylesheet" href="/stylesheets/templates/back-nav.css">
</head>

<body>
    <div class='route-back'>
        <img class='back-arrow' src='/images/back-arrow.png' onclick="window.location='<%= link %>';" />
        <div class='route-back-text'>
            <%= navText %>
        </div>
    </div>
</body>
