<head>
    <link rel="stylesheet" href="/stylesheets/templates/main-nav.css">
</head>

<body>
    <div class="main-nav">
        <div class="main-nav-text <%= homeNavClass %>" onclick="window.location='/';">
            Home
        </div>
        <div class="main-nav-text <%= aboutNavClass %>" onclick="window.location='/about';">
            About
        </div>
    </div>
</body>
