<head>
    <link rel="stylesheet" href="/stylesheets/templates/nav-bar.css">
</head>

<body>
    <div class="nav-bar">
        <div class="teacher-name">Gary Horton</div>
        <%- include('./nav-row', {navClass: activeTab=='question' ? 'nav-row-selected' : '', id: 'question', 
        link: '/choose-unit', title:'Update Questions', imgSrc: '/images/question-black.png'}); %>

        <%- include('./nav-row', {navClass: activeTab=='classroom' ? 'nav-row-selected' : '', id: 'classroom', 
        link: '/classroom', title:'Student Progress', imgSrc: '/images/check-black.png'}); %>
        
        <%- include('./nav-row', {navClass:'sign-out', id: 'signout', 
        link: '/', title:'Sign out', imgSrc: '/images/sign-out.png'}); %>
    </div>

    
    
</body>