<head>
    <link rel="stylesheet" href="/stylesheets/templates/title-with-desc.css">
</head>

<body>
    <div class="header-title"> <%= title %></div>
    <div class="header-description"> <%= desc %> </div>
</body>
