<head>
    <link rel="stylesheet" href="/stylesheets/templates/title-and-add-row.css">
</head>

<body>
<div class="add-title">
    <%= title %> 
</div>

<div class="add-container" onclick="window.location='<%= link %>';">
    <img class="add-element-icon" src="/images/plus-icon.png" alt="add-element-icon">
    <div class="add-element-text"><%= addText %></div>
</div>
</body>