* {
    font-family: 'Roboto Condensed', sans-serif;
}

.add-question-main, .add-unit-main {
    margin-top: 20px;
    padding: 40px;
}

.add-question-title, .add-unit-title {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
}

.exit-add-question, .exit-add-unit {
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.new-question-input-label, .new-unit-input-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.new-question-input, .unit-name-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    outline: none;
    background-color: #F6F5F5;
    border: none;
    padding: 8px;
}

.answer-choice-heading {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.answer-choice-instr {
    width: 85%;
}

.correct-choice-instr {
    margin-left: 20px;
    width: 15%;
    text-align: center;
}

.choice-instr-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.choice-instr-desc {
    color: #B3B3B3;
    font-size: 14px;
}

.submit-question-button, .add-unit-submit {
    color: white;
    background-color: black;
    border-radius: 39px;
    height: 40px;
    text-align: center;
    width: 300px;
    margin: auto;
    border: none;
}

.add-unit-submit {
    margin-top: 50px;
}

.add-unit-title {
    margin-bottom: 50px;
}

.add-question-form, .add-unit-form {
    display: flex;
    flex-direction: column;
}