* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
}

.choose-unit {
    margin-left: 20%;
    padding: 30px;
}

.teacher-platform-main {
    /* height: 100vw; */
}

.unit-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.unit-grid-item {
    height: 200px;
    display: flex;
    background: #F7F5F5;
    border-radius: 34px;
    padding: 20px;
    cursor: pointer;
}

.unit-grid-item-title {
    margin: auto;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

.unit-text {
    text-decoration: none;
    color: black;
}

.no-units-text {
    font-weight: lighter;
    color: red;
}