.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.delete-confirmation-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.confirm-delete-buttons {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm-delete-button, .cancel-delete-button {
    width: 200px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}