@import 'layout.css';

.questions-main {
    margin-left: 20%;
    padding: 30px;
}

.question-row {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.question-text-section {
    background-color: #F6F5F5;
    border-radius: 20px;
    height: 40px;
    width: 90%;
    padding: 20px;
    display: flex;
    color: black;
}

.question-text {
    margin-top: auto;
    margin-bottom: auto;
}

.question-progress {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.no-questions-text {
    font-weight: lighter;
    color: red;
}

.remove-question-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.question-progress-description {
    color: #9E9B9B;
    font-size: 16px;
    margin-bottom: 15px;
}