@import 'layout.css';

.view-question {
    margin-left: 20%;
    padding: 30px;
}

.question-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    display: inline-block;
}

.choice-row {
    height: 40px;
    padding: 20px;
    border-radius: 19px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.choice-row-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.choice-row-progress {
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.choice-row-correct {
    background-color: #DBF5CA;
}

.choice-row-incorrect {
    background-color: #FFE0E0;
}

.edit-question-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.modify-question-text {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}

.modify-question {
    display: inline-block;
    cursor: pointer;
}

.view-question-description {
    color: #9E9B9B;
    font-size: 18px;
    margin-bottom: 30px;
}
