<html lang="en">
    <head>
        <title>Add A New Unit Page</title>
        <link rel="stylesheet" href="/stylesheets/add-question.css">
        <script>
            var baseApiUrl = "<%= baseAPIUrl %>";
        </script>
        <script type='module' src='/javascripts/add-unit.js'></script>
    </head>

    <body>
        <a class="skip-link" href="#add-unit-main-content">Skip to Add Unit Form</a>

        <%- include('../templates/alert'); %>

        <div class="add-unit-main">
            <div class="add-unit-title">
                Add A New Unit
                <img onclick="window.location='/choose-unit';" alt="exit add unit window" class="exit-add-unit"
                    src='/images/close-icon.png'/>
            </div>
            
            <main id="add-unit-main-content">
                <form id="add-unit-form" class="add-unit-form">
                    <label for="unit-name" class="new-unit-input-label">Name of Unit</label>
                    <input class="unit-name-input" id="unit-name" type="text" name="unit-name" placeholder="name (eg. Economics)" required />
                    <input class="add-unit-submit" id="add-unit-submit" type="submit" />
                </form>
            </main>
        </div>    
    </body>
</html>