<html lang="en">
    <head>
        <title>Choose A Unit Page</title>
        <link rel="stylesheet" href="/stylesheets/choose-unit.css">
        <script>
            var baseApiUrl = "<%= baseAPIUrl %>";
        </script>
        <script type='module' src='/javascripts/choose-unit.js'></script>
    </head>

    <body>
        <a class="skip-link" href="#choose-unit-main-content">Skip to Main Choose Unit</a>

        <div class="teacher-platform-main">
        <%- include('../templates/nav-bar', {activeTab: 'question', baseApiUrl: baseAPIUrl}); %>
        <div class="choose-unit">
            <%- include('../templates/title-with-desc', {title: 'Choose The Unit', 
            desc: 'Please click on the unit that you would like to update questions for.'}); %>

            <%- include('../templates/title-and-add-row', {title: 'All Units', link: '/add-unit',
                        addText: 'Add a New Unit'}); %>

            <main id="choose-unit-main-content">
                <div class="unit-grid-container">
                    <!-- rendered by choose-unit.js -->
                </div>
            </main>
        </div>
        </div>
    </body>
</html>