<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/choose-unit.css">
    <script type='text/javascript' src='/javascripts/choose-unit.js'></script>
</head>

<body>
    <div class="teacher-platform-main">
    <%- include('../templates/nav-bar', {activeTab: 'question'}); %>
    <div class="choose-unit">
        <%- include('../templates/title-with-desc', {title: 'Choose The Unit', 
        desc: 'Please click on the unit that you would like to update questions for.'}); %>

        <div class="unit-grid-container">
            <% units.forEach(function(unit) { %>
                <div class="unit-grid-item">
                    <div class="unit-grid-item-title">
                        <%= unit %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    </div>

</body>

</html>