<html lang="en">
    <head>
        <title>View Your Classroom Page</title>
        <link rel="stylesheet" href="/stylesheets/classroom.css">
        <script>
            var baseApiUrl = "<%= baseAPIUrl %>";
        </script>
        <script type='module' src='/javascripts/classroom.js'></script>
    </head>

    <body>
        <a class="skip-link" href="#classroom-main-content">Skip to Main Classroom</a>

        <div class="teacher-platform-main">
            <%- include('../templates/nav-bar', {activeTab: 'classroom', baseApiUrl: baseAPIUrl}); %> 
            <div class="student-progress">
                <%- include('../templates/title-with-desc', {title: 'Your Classroom', 
                        desc: 'Monitor your classroom to see which students are struggling and what questions students are getting wrong.'}); %>
                
                <main id="classroom-main-content">
                    <div class="struggling-students-title">
                        Struggling Students
                    </div>

                    <div class="struggling-students-description">
                        <!-- rendered by classroom.js -->
                    </div>

                    <div class="struggling-students-container">
                        <!-- rendered by classroom.js -->
                    </div>

                    <div class="all-students-title">
                        All Students
                    </div>
                    <div class="all-students-body">
                        <!-- rendered by classroom.js -->
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>