<html lang="en">
    <head>
        <title>Log In Page</title>
        <link rel="stylesheet" href="/stylesheets/log-in.css">
        <script>
            var baseApiUrl = "<%= baseAPIUrl %>";
        </script>
        <script type='module' src='/javascripts/log-in.js'></script>
    </head>

    <body>
        <a class="skip-link" href="#log-in-main-content">Skip to Main Log In</a>

        <main id="log-in-main-content">
            <div class="log-in-page">
                <%- include('../templates/alert'); %>
                <div class="welcome-title">
                    Parlay Island Teacher Platform
                </div>
                
                <div class="log-in-container">
                    <div class="log-in-title">
                        LOG-IN
                    </div>
                    <form id="log-in-form">
                        <div>
                            <label for="log-in-username"><b>Username</b></label>
                            <input class="log-in-username" id="log-in-username" type="text" name="username" placeholder="username" required />
                            
                            <label for="log-in-password"><b>Password</b></label>
                            <input class="log-in-password" id="log-in-password" type="password" name="password" placeholder="password" required />
                            <input class="log-in-submit" id="log-in-submit" type="submit" />
                        </div>
                    </form>
                </div>

                <div class="register-text">
                    Don't have an account?
                    <a href="/register">Register</a>
                </div>
            </div>
        </main>
    </body>
</html>