<html lang="en">
    <head>
        <title>View A Specific Student Page</title>
        <link rel="stylesheet" href="/stylesheets/view-student.css">
        <script>
            var playerId = '<%= playerId %>';
            var baseApiUrl = '<%= baseAPIUrl %>';
        </script>
        <script type='module' src='/javascripts/view-student.js'></script>
    </head>

    <body>
        <a class="skip-link" href="#view-student-main-content">Skip to Main View Student</a>
        <%- include('../templates/nav-bar', {activeTab: 'classroom', baseApiUrl: baseAPIUrl }); %>
        
        <main id="view-student-main-content">
            <div class='view-student'>
                <%- include('../templates/back-nav', {navText: 'Classroom', link: '/classroom'}); %>
                <div class='student-heading-section'>
                    <!-- rendered by view-student.js -->
                </div>

                <div class='student-performance'>
                    <!-- rendered by view-student.js -->
                </div>
            </div>
        </main>
    </body>
</html>